.emacs-local
company-stats-cache.el
init.shell
recentf
network-security.data
transient
/projectile-bookmarks.eld
/.mc-lists.el
bookmarks
/eshell/
/.emacs.desktop
/.emacs.desktop.lock
/tramp
/url/
/request/
/session*
/.cache
.lsp-session-v1
/.lsp-eslint-choices
/projects
var/prescient-save.el
./var/prescient-save.el
/org-roam.db
/.org-id-locations
/eln-cache/
/init.org.rej
/elpa/gnupg/
/elpa/archives/gnu/archive-contents.signed
/init.emamux
elpa
/forge-database.sqlite
/.dap-breakpoints
/ido.last
/straight/
/tree-sitter/
/tutorial/
image-dired
/forge-database-*
/init.:tangle
/.gemini-clipboard/
/init-tangled.el
/package-quickstart.elc
